<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- STYLE -->
    <link rel="stylesheet" href="/css/hire_a_designer.css" />
    <!-- hire_software Developer -->
    <link rel="stylesheet" href="/css/hire_software_engineer.css" />
    <!-- review testimonial Developer -->
    <link rel="stylesheet" href="/css/reviewsTestimonal.css" />
    <!-- boot css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <!-- FONT style -->
    <link href="/css/fontstyle.css" rel="stylesheet" />
    <!-- HOME STYLE -->
    <link href="/css/haris.css" rel="stylesheet" />
    <!-- email_section -->
    <link href="/css/components_css/email_section.css" rel="stylesheet" />
    <!-- FOOTER STYLE -->
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />
    <!-- REMIX-ICONS -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- NAVBAR LINK -->
    <link rel="stylesheet" href="/css/navbar.css" />
    <!-- ----------------   CHATGPT     ----------- -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Hire a Dev Ops Engineer within 24 Hours - SSL Solutions</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/universal.css">
        <style>
          
           @media screen and (max-width: 1116px){
            .jnkjn{
                margin-top: -1px !important;
            }
          }
        </style>
  </head>
  <body>
    <nav class="header"><%- include('Components/navbar'); %></nav>
    <br />
    <hr />
    <!-- -----------------------WORK REMOTLY------------------- -->

    <div class="container-fluid">
      <div class="row jnkjn" id="WORKH-SOFT" style="margin-top: 40px">
        <div class="col-lg-6 col-sm-9 mt-5" id="REMOTLY">
          <div id="WORK1">
            <h4 class="SUBHEAD" style="color: white">
              For Efficient Workflows and Robust Systems
            </h4>
            <h1 class="HEADING my-2">
              <!-- rgb(175, 32, 34) -->
              <!-- style="color:rgb(175, 32, 34);" -->
              Hire the Best Remote DevOps Engineer within 24 hours
            </h1>
          </div>
          <p id="SAMLL my-5">
            SSL Solutions brings you the expertise to optimize workflows and
            fortify your systems for success. We offer a vast pool of deeply
            vetted DevOps engineers as being one of the largest networks that
            provides remote talent. Our rigorous vetting process, akin to
            Silicon Valley standards, guarantees you the finest DevOps engineer
            that you can rely on for seamless project success.
          </p>
          <div class="my-5 animated-buttonRed">
            <a href="/hire_talents"><span></span><span></span><span></span><span></span>Hire Dev Ops Engineers</a>
          </div>
        </div>
        <div class="col-lg-5 col-sm-8 my-3">
          <img class="img-fluid mt-3" src="images/devops-3-517c2bd4ae.png" />
        </div>
      </div>
    </div>
    <!-- Dost Section -->
    <!-- Container-Fluid-Start -->
    <div class="container-fluid mt-5">
      <div
        class="row justify-content-center"
        style="background: rgb(247, 248, 255)"
      >
        <div class="col-11 text-center">
          <h4 class="mt-4 SUBHEAD">
            Fueling Your Operations with Expert DevOps Engineers
          </h4>
          <h1 class="pt-2 pb-2 HEADING">
            Hire Senior DevOps Engineers on a Monthly or Hourly
          </h1>
          <p class="LARGE">
            Hire DevOps engineers to bridge your IT operations, development, and
            quality assurance team. Faster your development journey with
            SSL Solutions’s experienced DevOps programmers.
          </p>
        </div>
      </div>

      <!-- Cards-Section-1-Start -->
      <div
        class="row justify-content-evenly pt-5 pb-5"
        style="background: rgb(247, 248, 255)"
      >
        <!-- 1 -->
        <div
          class="cards col-lg-3 col-sm-5 col-11 my-3 d-flex flex-column rounded-4 p-4 mx-2"
        >
          <div
            class="card-top d-flex justify-content-between align-items-center"
          >
            <div class="card-circle-images">
              <img
                height="110px"
                width="110px"
                class="img-fluid"
                src="/images/Untitled-2 copy.png"
                alt=""
              />
            </div>
            <div class="d-flex flex-column">
              <p class="mb-1">Placed at</p>
              <img
                src="/images/bain-and-company-squarelogo-1589386348895.png"
                alt=""
                class="placed-img"
              />
            </div>
          </div>

          <div class="card-bottom mt-5">
            <h4>Aisha Rahman</h4>
            <h5 class="pb-1">DevOps Engineer</h5>
            <p>
              I lead the planning and execution of integrated marketing
              campaigns across various channels, optimizing marketing budgets
              and maximizing ROI.
            </p>
          </div>
        </div>
        <!-- 2 -->
        <div
          class="cards col-lg-3 col-sm-5 col-11 my-3 d-flex flex-column rounded-4 p-4 mx-2"
        >
          <div
            class="card-top d-flex justify-content-between align-items-center"
          >
            <div class="card-circle-images">
              <img
                height="110px"
                width="110px"
                class="img-fluid"
                src="/images/Untitled-2 copy.png"
                alt=""
              />
            </div>
            <div class="d-flex flex-column">
              <p class="mb-1">Placed at</p>
              <img
                src="/images/lululemon-squarelogo-1575401968911.png"
                alt=""
                class="placed-img"
              />
            </div>
          </div>
          <div class="card-bottom mt-5">
            <h4>Nikolai Petrov</h4>
            <h5 class="pb-1">DevOps Engineer</h5>
            <p>
              Leveraging my extensive experience, I develop and implement
              comprehensive marketing strategies that align with the company’s
              vision and target audience.
            </p>
          </div>
        </div>
        <!-- 3 -->
        <div
          class="cards col-lg-3 col-sm-5 col-11 my-3 d-flex flex-column rounded-4 p-4 mx-2"
        >
          <div
            class="card-top d-flex justify-content-between align-items-center"
          >
            <div class="card-circle-images">
              <img
                height="110px"
                width="110px"
                class="img-fluid"
                src="/images/Untitled-2 copy.png"
                alt=""
              />
            </div>
            <div class="d-flex flex-column">
              <p class="mb-1">Placed at</p>
              <img
                src="/images/asana-squareLogo-1625163061531.png"
                alt=""
                class="placed-img"
              />
            </div>
          </div>
          <div class="card-bottom mt-5">
            <h4>Angelo Haley</h4>
            <h5 class="pb-1">DevOps Engineer</h5>
            <p>
              I lead a team of marketing professionals, providing guidance and
              mentorship to drive high-performance and deliver impactful
              marketing initiatives.
            </p>
          </div>
        </div>

        <!-- 4 -->
        <div
          class="cards col-lg-3 col-sm-5 col-11 my-3 d-flex flex-column rounded-4 p-4 mx-2"
        >
          <div
            class="card-top d-flex justify-content-between align-items-center"
          >
            <div class="card-circle-images">
              <img
                height="110px"
                width="110px"
                class="img-fluid"
                src="/images/Untitled-2 copy.png"
                alt=""
              />
            </div>
            <div class="d-flex flex-column">
              <p class="mb-1">Placed at</p>
              <img
                src="/images/adobe-squarelogo-1603148840654.png"
                alt=""
                class="placed-img"
              />
            </div>
          </div>

          <div class="card-bottom mt-5">
            <h4>Isabella Rossi</h4>
            <h5 class="pb-1">DevOps Engineer</h5>
            <p>
              As a senior marketing specialist, I excel at crafting compelling
              messaging and storytelling that resonates with our target audience
              and drives engagement.
            </p>
          </div>
        </div>
        <!-- 5 -->
        <div
          class="cards col-lg-3 col-sm-5 col-11 my-3 d-flex flex-column rounded-4 p-4 mx-2"
        >
          <div
            class="card-top d-flex justify-content-between align-items-center"
          >
            <div class="card-circle-images">
              <img
                height="110px"
                width="110px"
                class="img-fluid"
                src="/images/Untitled-2 copy.png"
                alt=""
              />
            </div>
            <div class="d-flex flex-column">
              <p class="mb-1">Placed at</p>
              <img
                src="/images/hubspot-squareLogo-1610635295663.png"
                alt=""
                class="placed-img"
              />
            </div>
          </div>

          <div class="card-bottom mt-5">
            <h4>Kenji Yamamoto</h4>
            <h5 class="pb-1">DevOps Engineer</h5>
            <p>
              With a focus on market research and analysis, I identify and
              capitalize on emerging trends and consumer insights to position
              our brand for success.
            </p>
          </div>
        </div>
        <!-- 6 -->
        <div
          class="cards col-lg-3 col-sm-5 col-11 my-3 d-flex flex-column rounded-4 p-4 mx-2"
        >
          <a href="#">
            <h4>Explore other Profiles</h4>
          </a>
          <i class="bi bi-arrow-right" style="font-size: 3rem"></i>
        </div>
        <!-- Cards-Section-2-End -->
      </div>

      <!-- Perfect-Match-Section-Start -->
      <div class="row pt-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-11 col-12 match-text-area">
          <h4 class="SUBHEAD">Get Top DevOps Development Services
</h4>
          <h1 class="mt-3 mb-3">Hire Your Ideal Match with SSL Solutions!
</h1>
          <p class="LARGE">
            Embark on your hiring journey effortlessly with SSL Solutions’s
            simple and efficient process, connecting you with remote Business
            Consultants in no time.
          </p>
        </div>

        <!-- Perfect-Match-Section-End -->
      </div>

      <div class="row pb-5">
        <div class="col-12">
          <div class="row d-flex justify-content-around">
            <div class="col-lg-3 col-11 d-flex flex-column pt-5">
              <!-- <div class="match-tagline text-center border mb-5 pt-3 pb-3"><h5>Share Your Vision</h5></div> -->
              <p class="SMALL">
                Let's Connect! Tell us about your design needs, and we'll set up
                a call to explore the perfect solutions tailored just for you in
                our remote staffing services Discover Your Perfect Match.
              </p>
              <img
                src="images/share-vision-980x953.jpg.webp"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="col-lg-3 col-11 d-flex flex-column pt-5">
              <!-- <div class="match-tagline text-center border mb-5 pt-3 pb-3"><h5>Discover Your Perfect Match</h5></div> -->
              <img
                src="/images/perfect-match-1-980x953.jpg.webp"
                alt=""
                class="img-fluid"
              />
              <p class="mt-3 SMALL">
                Get Ready! Within 24 hours, we'll handpick a shortlist of top
                candidates perfectly aligned with your requirements. Connect
                with them through a call to find a UI/UX designer and the talent
                that perfectly matches your needs.
              </p>
            </div>
            <div class="col-lg-3 col-11 d-flex flex-column pt-5">
              <!-- <div class="match-tagline text-center border mb-5 pt-3 pb-3"><h5>Embrace the Risk-Free Trial</h5></div> -->
              <p class="SMALL">
                Kickstart Your Success! Begin your journey with SSL SOLUTIONS by
                remote talent acquisition and remote staffing services on our
                2-week risk-free trial. Collaborate seamlessly through a
                dedicated Slack workspace and witness the power of our
                exceptional remote professionals.
              </p>
              <img
                src="/images/risk-free-980x953.jpg.webp"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Container-Fluid-End -->
    </div>

    <!-- ----------------------------------------------Remote-------------------------------------- -->
    <div
      class="d-flex justify-content-center"
      style="background-color: rgb(248, 249, 254)"
    >
      <div class="row" id="UNLOCK" style="margin-bottom: 80px">
        <div class="col-10 mt-5">
          <h4 class="SUBHEAD" style="color: white">
          Find Expert Remote DevOps Engineers:

          </h4>
        </div>
        <div class="col-12">
          <h1 class="HEADING">Why Do Top Companies Choose SSL Solutions?
</h1>
        </div>
        <div class="col-11 mt-2 mb-5" id="XLARGE">
         Our team of experienced DevOps engineers has worked on building products in various industries such as finance, healthcare, education, and eCommerce.

        </div>

        <div class="col-sm-12">
          <div class="row justify-content-around mb-4">
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div id="NUMBER">
                <NUM1>110+</NUM1>
              </div>
              <div id="NUMBER2">
                <NUM2>Countries</NUM2>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div id="NUMBER">
                <NUM1>97%</NUM1>
              </div>
              <div id="NUMBER2">
                <NUM2>Successful</NUM2>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5">
              <div id="NUMBER">
                <NUM1>173,000+</NUM1>
              </div>
              <div id="NUMBER2">
                <NUM2>Tech Talent</NUM2>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div id="NUMBER">
                <NUM1>400+</NUM1>
              </div>
              <div id="NUMBER2">
                <NUM2>Happy Clients</NUM2>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div id="NUMBER">
                <NUM1>110+</NUM1>
              </div>
              <div id="NUMBER2">
                <NUM2>Skills</NUM2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------   Hire and Get Hired     ---- -->
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-11">
          <div
            class="row my-5 justify-content-around"
            style="background-color: white"
          >
            <div class="col-lg-5 COL-md-8 col-sm-11" id="REMOTLY">
              <div id="WORK1">
                <h4 class="SUBHEAD">Best DevOps Engineering Services Available:
</h4>
                <h1>
                  <heading>Partner with Best DevOps Consulting Company
</heading>
                </h1>
              </div>
              <p style="color: #555659 !important " id="LARGE" class="mt-4">
                Streamline your hiring process for a DevOps engineer with SSL Solutions, the top DevOps consulting company. We provide highly skilled DevOps lead engineers worldwide, ready in less than 24 hours. Our experienced DevOps professionals have a track record of executing projects with precision and expertise. <br>
At SSL Solutions, we prioritize each client’s unique needs and deliver satisfactory results with our talented pool of DevOps engineers. With our cutting-edge technology and agile methodologies, we ensure that your business reaches its full potential.
              </p>
              <div class="mb-3 mt-5" id="JOIN">
                <a href="/contact-us">Book a Call</a>
              </div>
            </div>
            <div class="col-lg-6 col-sm-9 mt-5">
              <div id="PARENT">
                <img
                  id="CHILD"
                  class="img-fluid mb-5"
                  src="images/hired.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------Skills Section ---------->
    <div
      class="container-fluid justify-content-evenly"
      style="
        background-image: url(/images/design-01.png);
        background-size: 100% 100%;
      "
    >
      <div class="text-center row">
        <div class="col-12">
          <h4 class="fs-4 fw-semibold mt-5 pb-1 text-white" id="SUBHEAD">
            Uncover Essential
          </h4>
          <h1 class="text-white" id="HEADING">Skills for Your Business!</h1>
          <div class="lg-5 d-block text-light">
            <p class="SMAKL" class="text-white px-5">
              Discover the elite remote professionals equipped with top-notch
              skills tailored to meet your business requirements. Engage with
              renowned experts proficient in cutting-edge technologies and
              embark on a path to success with SSL SOLUTIONS’s talent pool.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <div class="input-group mb-3">
            <span class="input-group-text" aria-hidden="true"
              ><i class="fa fa-search" aria-hidden="true"></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Skill For Searching"
              aria-label="Username"
              aria-describedby="basic-addon1"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <h5 class="fw-semibold text-white">Based on your skills</h5>
          </div>
          <div class="row my-2 justify-content-center justify-content-start">
            <% skills.forEach(function(skills) { %>
            <div class="col-lg-2 col-sm-3 col-md-3 m-2">
              <div class="row">
                <button
                  class="rounded-4 bg-white fw-semibold d-flex border-0 align-items-center"
                >
                  <img
                    decoding="async"
                    loading="lazy"
                    src=" <%= skills.img %>"
                    class="mr-4 p-1"
                    alt=""
                  />
                  <%= skills.btnname %>
                </button>
              </div>
            </div>
            <% }); %>
            <div class="col-sm-10 my-3">
              <h5 class="fw-semibold text-white fs-6">
                <i class="fa fa-plus" aria-hidden="true"></i>
                See more Skills
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-10 my-2">
            <h5 class="fw-semibold text-white">Based on your roles</h5>
          </div>
          <div class="row justify-content-center">
            <% technologies.forEach(function(technologies) { %>
            <div class="col-lg-2 col-sm-3 col-md-3 m-2">
              <div class="row">
                <button
                  class="rounded-4 bg-white fw-semibold d-flex border-0 align-items-center"
                >
                  <img
                    decoding="async"
                    loading="lazy"
                    width="<%=technologies.width%>"
                    src="<%= technologies.img%>"
                    class="mr-4 img-fluid"
                    alt=""
                  />
                  <%= technologies.btnname %>
                </button>
              </div>
            </div>

            <% }); %>
            <div class="col-sm-10">
              <h5 class="fw-semibold text-white fs-6 my-3">
                <i class="fa fa-plus" aria-hidden="true"></i> See more roles
              </h5>
            </div>
          </div>
        </div>
      </div>

      <!-------Based on your career trajectory--------->

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-10 my-2">
            <h5 class="fw-semibold text-white">
              Based on your career trajectory
            </h5>
          </div>
          <div class="row justify-content-center">
            <% trajectory.forEach(function(trajectory) { %>
            <div class="col-lg-2 col-sm-3 col-md-3 m-2">
              <div class="row">
                <button
                  class="rounded-4 p-1 bg-white fw-semibold d-flex border-0 align-items-center"
                >
                  <img
                    decoding="async"
                    loading="lazy"
                    width="<%=trajectory.width%>"
                    src=" <%= trajectory.img %>"
                    class="p-1"
                    alt=""
                  />
                  <%= trajectory.btnname %>
                </button>
              </div>
            </div>
            <% }); %>
            <div class="col-sm-10">
              <h5 class="fw-semibold text-white fs-6 my-3">
                <i class="fa fa-plus" aria-hidden="true"></i> See more positions
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 my-4">
          <div class="row">
            <button type="submit" class="animated-buttonRed">
              <a
                href="/hire_talents"
                
              ><span></span><span></span><span></span><span></span>
                Get Started</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-11">
          <div class="row">
            <div class="col-sm-11 mt-5" id="MAIN-SCROLE">
              <div id="FIXED-SCROLE">
                <div class="LARGE-2 my-2 text-center">Content</div>
                <div class="XSMALL-2 my-4 ATEXT">
                  <a href="#h1">Explore the Future of DevOps Engineer
</a>
                </div>
                <div class="XSMALL-2 my-4 ATEXT">
                  <a href="#h2"
                    >Top Required Skills for Hiring Full Stack Devops Engineer</a
                  >
                </div>
                <div class="XSMALL-2 my-4 ATEXT">
                  <a href="#h3">Most Asked Interview Questions While Hiring Top DevOps Engineers
</a>
                </div>
                <div class="XSMALL-2 my-4 ATEXT">
                  <a href="#h4"
                    >Roles & Responsibilities of Freelance DevOps Engineer

                  </a>
                </div>
                <div class="XSMALL-2 my-4 ATEXT">
                  <a href="#h5"
                    >
Benefits of SSL Solutions DevOps Engineers to Startups and SMBs
                  </a>
                </div>
                </div>

                <!-- <div class="XSMALL-2 my-4"> <a href="#h6">The growing demand for Full-Stack Developers</a></div> -->
              </div>
              <div id="SLIDER-SCROLE" class="my-5">
                <h4 class="LARGE-2" id="h1">Explore the Future of DevOps Engineer</h4>
                <br />
                <p class="SMALL">
                 At SSL Solutions our DevOps engineers are equipped with best practices, automation strategies, and collaborative approaches that empower them to streamline workflows, enhance system reliability, and accelerate the delivery of high-quality software.

                  <br />
                  <br />
                 Discover the evolving role of DevOps professionals in shaping a more agile and responsive development ecosystem, where continuous integration, deployment, and collaboration seamlessly pave the way for the next frontier in technology excellence.
<br />
                </p>
                <hr />

                <h4 class="LARGE-2" id="h2">
                 Top Required Skills for Hiring Full Stack Devops Engineer

                </h4>
                <br />
                <p class="SMALL">
DevOps engineering requires a combination of technical skills, soft skills, and the ability to work effectively in a remote setting. Here are some mandatory skills to have for a DevOps engineer: <br> <br>
<h4>Technical Skills:</h4>
                  <br />
                <b>  Automation Tools</b> <br> <br>

An ideal DevOps engineer must be proficient in using automation tools such as Jenkins, GitLab CI, and Travis CI for building and deploying applications.
<br> <br>

<b>Containerization and Orchestration</b> <br> <br>

Experienced with containerization tools like Docker, OpenStack, Vagant, LXC, and RXT and with orchestration tools such as Atlas, Apache Mesos, AWS Cloud Formation, and Kubernetes for efficient deployment and scaling of applications.
<br><br>
<b>Infrastructure as Code (IaC)</b>   <br> <br>

Have strong knowledge of Infrastructure as Code principles using Terraform, Ansible, or any other cutting-edge tools to manage and provision infrastructure of any nature of business.
 <br> <br>
<b>Configuration Management</b> <br><br>

Possess expertise in configuration management tools like Puppet, Chef, or Ansible to maintain the consistent and scalable infrastructure of the business.
<br><br>
<b>Cloud Platforms</b> <br><br>

Proficient in working with major cloud platforms such as AWS, Azure, or Google Cloud. This also refers to the understanding of services, networking, and security.
<br><br>
<b>Monitoring and Logging</b>  <br><br>

For real-time monitoring, logging, and performance analysis possess experience with monitoring tools like Prometheus, Grafana, and ELK Stack.
<br><br>
<b>Version Control</b> <br><br> 

Strong knowledge of version control systems, particularly Git, and understanding of branching and merging strategies.
<br><br>
<b>Security Practices</b>  <br><br>

Have familiarity with security best practices in a DevOps environment, including vulnerability scanning, code analysis, and securing CI/CD pipelines.
<br><br>
<b>Collaboration Tools</b> <br><br> 

Proficient in using collaboration tools like Slack, Jira, and Confluence to facilitate communication and project management in a remote setting.
<br><br>
<b>Soft Skills and Collaboration </b><br>  <br>
<b>Communication Skills</b> <br> <br>

Effective communication skills are crucial for remote collaboration, including clear written and verbal communication.
<br> <br>
<b>Problem-solving</b>
<br> <br>
In troubleshooting issues and optimizing processes strong problem-solving abilities.
<br> <br>
<b>Adaptability</b> <br> <br>

Can change with evolving needs, tools, and remote work environments.
<br> <br>
<b>Team Collaboration</b>
 <br> <br>
Experience working effectively with cross-functional teams and building a collaborative DevOps culture.
<br> <br>
<b>Time Management
</b>
<br> <br>
Effective time management abilities to handle various projects, prioritize work, and meet deadlines in a remote work setting.
<br> <br>
<b>Self-Motivation</b>
<br> <br>
The ability to work independently and stay motivated in a remote setting, taking initiative to drive projects forward.
<br> <br>
<b>Documentation Skills</b>
<br> <br>
Strong documentation skills to maintain clear and comprehensive records of configurations, processes, and troubleshooting steps.
                <br></p>
                <div class="my-5" id="JOIN">
                  <a href="signup">Get Quotation</a>
                </div>

                <hr />
                <h4 class="LARGE-2" id="h3">Most Asked Interview Questions While Hiring Top DevOps Engineers</h4>
                <p class="SMALL">
                 To assess the DevOps professionals recruiters often cover a range of technical and soft skills. Here are some commonly asked interview questions to review while preparing for DevOps engineer positions:

 <br />

                  <br />
                 1. What experience do you have with DevOps as an engineer?
<br> <br>
2. What role do cloud DevOps services play in the context of DevOps?
<br> <br>
3. Can you provide an overview of your knowledge about Git?
<br> <br>
4. How can DevOps be implemented with a significant emphasis on security?
<br> <br>
5. Could you elaborate on the primary phases within the lifecycle of DevOps?
<br> <br>
6.What are some of the most valuable Key Performance Indicators (KPIs) used to assess DevOps performance?
<br> <br>
7. Share your understanding of Puppet in the context of DevOps.
<br> <br>
8. Can you outline the primary categories of tools in the realm of DevOps?
<br> <br>
9. How do you keep up with the newest DevOps trends and technologies?
<br> <br>
10. What benefits do cloud-based tools bring to the field of DevOps? <br />
                </p>
                <hr />
                <h4 class="LARGE-2" id="h4">
                 Roles & Responsibilities of Freelance DevOps Engineer

                </h4>
                <p class="SMALL">
                 DevOps dedicated freelance engineers work as liaisons between development, IT operations, and quality assurance to ensure integration. However, bringing technical prowess to implement, optimize, and secure complex development of the project. <br> <br>
Here is the following list of roles and responsibilities that a Freelance DevOps engineer has to perform:
                  <br />

                  <br />
                 <b> Roles:</b>  <br> <br>

Facilitating communication and collaboration between development and operations teams to break down silos and enhance overall efficiency. <br> <br>
Maintain quality services while keeping the approach that the consumer comes first. <br> <br>
Plan and design workflow procedures, as well as expedite software development processes. <br> <br>
Managing and optimizing version control systems, notably Git, for effective code collaboration. <br> <br>
Create protocols for automation.
Maintain and deliver the most recent changes.
Using knowledge of key cloud platforms (AWS, Azure, and Google Cloud) to create scalable and adaptable architecture. <br> <br>
<b>Responsibilities:</b>

Designing, implementing, and maintaining CI/CD pipelines to enable automated and reliable software delivery.<br> <br>
Embedding security practices into the software development lifecycle to identify and mitigate vulnerabilities early in the process.<br> <br>
Using code-based technologies such as Terraform or Ansible to manage and provide infrastructure, assuring consistency and scalability.<br> <br>
Automating and controlling various steps of the software development process.<br> <br>
Implementing and managing monitoring tools for real-time visibility into system performance and logging solutions for troubleshooting and analysis.<br> <br>
Managing version control systems, particularly Git, to enable efficient and collaborative code development.
Identifying and resolving issues promptly to ensure the smooth operation of software systems.
Staying alongside emerging technologies and incorporating them into the DevOps toolchain to improve processes.<br> <br>
Utilizing tools like Ansible, Puppet, or Chef for automated and consistent configuration management.<br> <br>
Creating and maintaining comprehensive documentation for configurations and processes.
SSL Solutions expert DevOps engineers are proficient in streamlining development workflows, automating procedures, promoting collaboration, and assuring software application dependability and security.
                </p>
                <br />
                <hr />
                <h4 class="LARGE-2" id="h5">
                  Benefits of SSL Solutions DevOps Engineers to Startups and SMBs

                </h4>
                <p class="SMALL">
                 SSL Solutions’s DevOps engineers bring several key benefits to startups and SMBs:

<br />

                  <br />
               <b>   Cost Efficient and Flexible Scaling</b> <br><br>

SSL Solutions DevOps engineers allows startups and SMBs to manage costs more effectively, paying for expertise as needed. Also, they provide the flexibility to scale DevOps resources up or down based on project requirements. However, it allows startups to adapt to changing needs.
<br><br>
<b>Pool of Engineers</b>
<br><br>
You can get instant access to our experienced DevOps professionals. They ensure quick deployment of best practices, tools, and methodologies without the need for extensive recruitment processes.
<br><br>
<b>Accelerated Development Cycles</b>
<br><br>
DevOps engineers from SSL Solutions streamline processes, implement automation and optimize workflows, accelerating software development and delivery.
<br><br>
<b>Optimization of Infrastructure & Security</b>
<br><br>
Efficient management of infrastructure as code (IaC) and cloud platforms results in optimized business requirements. However, they follow robust security measures throughout the software development life cycle to ensure the protection of sensitive data.
<br><br>
<b>Continuous Integration/Continuous Deployment (CI/CD)</b>
<br><br>
Our DevOps expertise enables startups to establish and enhance CI/CD pipelines. However, facilitating rapid and reliable deployment of software.
<br><br>
<b>Reduced Downtime</b>
<br><br>
Proactive monitoring and troubleshooting by DevOps engineers minimize system downtime, ensuring consistent availability of applications.
<br><br>
<b>Adoption of Best Practices</b>
<br><br>
Access to industry best practices in DevOps ensures startups can benefit from proven methodologies, reducing the learning curve and potential pitfalls.
<br><br>
<b>Effective Collaboration</b>
<br><br>
The Implementation of collaborative tools and practices by our engineers. It will foster and improve communication between development and operations teams and enhance overall productivity.
<br><br>
By hiring SSL Solutions’s DevOps engineers, startups and SMBs can effectively overcome operational challenges. Also, they accelerate development cycles and lay a solid foundation for scalable and secure IT infrastructures.


                </p>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- reviews testimonial -->
    <%- include("Components/reviewsTestimonal")%>

    <!-- --------------------------------------- Talent Sourcing Company--------------      --------------- -->
    <div class="container-fluid" style="background-color: rgb(248, 249, 254)">
      <div class="row justify-content-center">
        <div class="col-sm-11 my-5">
          <div class="row">
            <div class="col-sm-12 my-5">
              <h4 class="SUBHEAD">No Risk , All Reward:</h4>
              <h1 class="HEADING my-2">Get Started with Our 2-Week Trial!</h1>
              <p class="LARGE">
                Discover how our platform can elevate your business, connect you
                with top-tier tech talent, and enable seamless global
                collaboration. Take advantage of this risk-free opportunity to
                explore our extensive network of vetted professionals, remote
                talent acquisition, build your dream team, and achieve
                remarkable results in remote IT support for businesses
              </p>
            </div>
          </div>
          <div class="row" id="G">
            <div class="col-lg-6" id="REMOTLY">
              <div id="WORK1">
                <h4 class="SUBHEAD">
                  Your Talent Sourcing Partner: SSL Solutions
                </h4>
                <h1>
                  <heading
                    >How SSL Solutions Operates<span
                      style="color: rgb(175, 32, 34)"
                      >?</span
                    >
                  </heading>
                </h1>
              </div>
              <p id="LARGE" class="mt-4">
                At SSL Solutions, our proficient HR outsourcing, talent
                acquisition, and staffing team harnesses cutting-edge resources
                and AI tools to meticulously vet, match, source, and outsource
                talent from a global pool of approximately 2 million skilled
                developers. By doing so, we empower organizations to conserve
                their valuable time and resources by entrusting talent
                acquisition to us, enabling them to concentrate on their core
                business growth strategies. Our comprehensive platform enables
                businesses to post job requirements, evaluate and interview
                potential candidates, and effortlessly oversee the entire hiring
                process with a single click, simplifying the recruitment
                journey.
              </p>
            </div>
            <div class="col-lg-6 p-0 m-0" id="IMGW">
              <img class="img-fluid" src="images/goodmorning.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reasons to Select SSL SOLUTIONS -->
    <div class="container-fluid" style="background-color: white">
      <div class="row justify-content-center">
        <div class="col-sm-11 mb-4">
          <div class="row">
            <div class="col-sm-12 my-5">
              <h1 class="HEADING my-5">
                Reasons to Select SSL SOLUTIONS as Your Software Engineering
                Recruitment Company
              </h1>
              <div class="row justify-content-start">
                <!-- 1 -->
                <div class="col-lg-2 col-sm-5 my-2">
                  <div class="col-10 px-3 py-3" id="SOFT-BOX">
                    <!-- 44 42 -->
                    <div class="py-2">
                      <img class="img-fluid" src="/images/SVG-2.svg" alt="" />
                    </div>
                    <div class="py-2 SMALL-HEAD"><b> Professional Team</b></div>
                  </div>
                </div>
                <!-- 2 -->
                <div class="col-lg-2 col-sm-5 my-2">
                  <div class="col-10 p-3" id="SOFT-BOX">
                    <!-- 46 46 -->
                    <div class="py-2">
                      <img
                        class="img-fluid"
                        src="/images/settings_photo_camera.svg"
                        alt=""
                      />
                    </div>
                    <div class="py-2 SMALL-HEAD">
                      <b>Customized Solutions</b>
                    </div>
                  </div>
                </div>
                <!-- 3 -->
                <div class="col-lg-2 col-sm-5 my-2">
                  <div class="col-10 p-3" id="SOFT-BOX">
                    <!-- 49 49 -->
                    <div class="py-2">
                      <img class="img-fluid" src="/images/labs.svg" alt="" />
                    </div>
                    <div class="py-2 SMALL-HEAD"><b>Quality Assurance</b></div>
                  </div>
                </div>
                <!-- 4 -->
                <div class="col-lg-2 col-sm-5 my-2">
                  <div class="col-10 p-3" id="SOFT-BOX">
                    <div class="py-2">
                      <img class="img-fluid" src="/images/SVG-1.svg" alt="" />
                    </div>
                    <div class="py-2 SMALL-HEAD">
                      <b>Perfectly Matching </b>
                    </div>
                  </div>
                </div>
                <!-- 5 -->
                <div class="col-lg-2 col-sm-5 my-2">
                  <div class="col-10 px-3 py-3" id="SOFT-BOX">
                    <div class="py-2">
                      <img
                        class="img-fluid"
                        src="/images/encrypted.svg"
                        alt=""
                      />
                    </div>
                    <div class="py-2 SMALL-HEAD"><b>Secure and Stable</b></div>
                  </div>
                </div>
                <!-- 6 -->
                <div class="col-lg-2 col-sm-5 my-2">
                  <div class="col-10 p-3" id="SOFT-BOX">
                    <div class="py-2">
                      <img class="img-fluid" src="/images/SVG.svg" alt="" />
                    </div>
                    <div class="py-2 SMALL-HEAD">
                      <b>Integration and Tools</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Join Our Vibrant Tech Community! -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 mt-5" id="GROUP-IMAGE">
          <div class="row justify-content-center">
            <!-- IN hire software designer.CSS -->
            <div class="col-lg-7 col-sm-10 my-5">
              <div id="FOR-MARGIN">
                <h4 class="SUBHEAD">Connect with the Best:</h4>
                <h1 class="HEADING">Join Our Vibrant Tech Community!</h1>
                <p class="LARGE">
                  We extend a warm invitation to tech enthusiasts like you to
                  become part of our thriving community. Share tips, seek
                  advice, and support each other in our vibrant online tech hub.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------- BLOG --------------------------------- -->
    <div class="container-fluid">
      <div
        style="font-weight: 600; margin-left: 6%; margin-top: 10px"
        class="mt-5"
        id="SUBHEAD"
      >
        Blogs
      </div>
    </div>
    <!-- --------------------------------Explore -------------------- -->
    <div class="container-fluid" style="margin-top: 5px">
      <div class="row justify-content-between" style="margin-left: 5%">
        <div class="col-lg-7 col-md-10 col-sm-12 my-1" id="Ex">
          <h1 class="HEADING">Explore Trending Publications</h1>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-8 mt-3 mb-3" id="EXPLORE">
          <a href="/blogs">Explore more</a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="card mt-2" style="width: 25rem">
          <img src="images/4-400x250.jpg" class="card-img-top" alt="..." />
          <div class="card-body mt-3">
            <span
              style="
                padding: 8px 12px;
                background-color: rgb(175, 32, 34);
                color: white;
                border-radius: 12px;
              "
              >Business Spotlight</span
            >
            <h5 class="card-title mt-3">
              Recruiting Top Fintech Developers for Startup
            </h5>
            <p class="card-text">
              Are you looking to recruit top-tier FinTech developers for your
              startup? As the fintech industry continues…
            </p>
            <div class="d-flex">
              <div>
                <img
                  width="50px"
                  height="42px"
                  class="img-fluid"
                  src="images/logo.png"
                  alt=""
                />
              </div>
              <div style="margin-left: 12px">
                <div style="font-size: 16px; font-weight: 700">
                  Jane Amritin
                </div>
                <div style="color: #555659 !important">Aug 2 2023</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-2" style="width: 25rem">
          <img src="images/4-400x250.jpg" class="card-img-top" alt="..." />
          <div class="card-body mt-3">
            <span
              style="
                padding: 8px 12px;
                background-color: rgb(175, 32, 34);
                color: white;
                border-radius: 12px;
              "
              >Retail/Products</span
            >
            <h5 class="card-title mt-3">
              Mitigating AI Bias: Fostering Trust in Machine Learning
            </h5>
            <p class="card-text">
              Ready to unleash your business's growth potential? Salesforce
              Solution is the key
            </p>
            <div class="d-flex">
              <div>
                <img
                  width="50px"
                  height="42px"
                  class="img-fluid"
                  src="images/logo.png"
                  alt=""
                />
              </div>
              <div style="margin-left: 12px">
                <div style="font-size: 16px; font-weight: 700">Adam rosha</div>
                <div style="color: #555659 !important">June 4 2023</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-2" style="width: 25rem">
          <img src="images/4-400x250.jpg" class="card-img-top" alt="..." />
          <div class="card-body mt-3">
            <span
              style="
                padding: 8px 12px;
                background-color: rgb(175, 32, 34);
                color: white;
                border-radius: 12px;
              "
              >Dev's Community</span
            >
            <h5 class="card-title mt-3">
              Knowledge of performance optimization techniques in C++
            </h5>
            <p class="card-text">
              Seeking to elevate your project's achievements and attain optimal
              outcomes?
            </p>
            <div class="d-flex">
              <div>
                <img
                  width="50px"
                  height="42px"
                  class="img-fluid"
                  src="images/logo.png"
                  alt=""
                />
              </div>
              <div style="margin-left: 12px">
                <div style="font-size: 16px; font-weight: 700">
                  Faheem Bukhari
                </div>
                <div style="color: #555659 !important">May 14 2023</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------------------- Curious?-------------------- -->

    <div
      class="container-fluid"
      style="
        background-image: url(images/Background.png);
        background-size: 100% 100%;
      "
    >
      <div
        class="container-fluid mt-5"
        style="display: flex; justify-content: center; margin-top: 50px"
      >
        <div
          class="row text-center"
          id="CCOLOR"
          style="width: 85%; margin-top: 90px"
        >
          <h4>
            <SUBHEAD>Curious?</SUBHEAD>
          </h4>

          <h1>
            <haeding>Explore Our FAQs</haeding>
          </h1>
          <p id="XLARGE">
            Our platform empowers numerous companies to operate seamlessly, and
            they are vocal advocates of our service.
          </p>
        </div>
      </div>

      <!-- -----------------------------------------ACCORDIANS----------------------------------- -->

      <div class="container-fluid mb-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px; width: 100%"
              >
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    <h5 id="SMALL">
                      What is the role of DevOps Engineers?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                    DevOps engineers streamline software development, automate processes, and enhance collaboration. However, ensuring efficient software delivery throughout its lifecycle.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    <h5 id="SMALL">
                      How are SSL Solutions DevOps engineers different?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                    SSL Solutions’s DevOps engineers stand out for their deep expertise, proven track record, and seamless remote collaboration.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    <h5 id="SMALL">
                     How is DevOps tied to AWS?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                   DevOps is closely tied to AWS, utilizing its cloud services, scalability, and automation tools for efficient software development and delivery.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                  >
                    <h5 id="SMALL">
                     What are the DevOps tools with which your team works?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                   Our DevOps team works with a versatile toolkit including Jenkins, Ansible, Docker, Kubernetes, Terraform, Travis CI, Gradle, AWS CloudFormation, GitHub and GitLab.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive"
                  >
                    <h5 id="SMALL">
                      How does SSL Solutions vet remote DevOps engineers?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFive"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                   SSL Solutions vet remote DevOps engineers through rigorous technical assessments, portfolio reviews, and in-depth interviews to ensure skills, experience, and cultural fit.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingSix">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix"
                    aria-expanded="false"
                    aria-controls="flush-collapseSix"
                  >
                    <h5 id="SMALL">
                      How long does it take to find a DevOps engineer on SSL Solutions?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingSix"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                    Finding a DevOps engineer on SSL Solutions typically takes a few days to a few weeks, depending on job requirements and candidate availability.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- email section style-email_section.css  -->
      <div class="container-fluid d-flex justify-content-center">
        <%- include('Components/email_section'); %>
      </div>

      <!-- <div style="height: 100px;"></div> -->
    </div>

    <footer class="bg-dark text-center p-2">
      <%- include('Components/footor'); %>
    </footer>

    <script>
      function field(val) {
        const box1 = document.getElementById("FIELD-1");
        const box2 = document.getElementById("FIELD-2");
        const box3 = document.getElementById("FIELD-3");
        const box4 = document.getElementById("FIELD-4");
        const box5 = document.getElementById("FIELD-5");
        const box6 = document.getElementById("FIELD-6");

        const tbox1 = document.getElementById("FBOX1");
        const tbox2 = document.getElementById("FBOX2");
        const tbox3 = document.getElementById("FBOX3");
        const tbox4 = document.getElementById("FBOX4");
        const tbox5 = document.getElementById("FBOX5");
        const tbox6 = document.getElementById("FBOX6");

        tbox1.style.backgroundColor = "transparent";
        tbox1.style.color = "black";
        tbox2.style.backgroundColor = "transparent";
        tbox2.style.color = "black";
        tbox3.style.backgroundColor = "transparent";
        tbox3.style.color = "black";
        tbox4.style.backgroundColor = "transparent";
        tbox4.style.color = "black";
        tbox5.style.backgroundColor = "transparent";
        tbox5.style.color = "black";
        tbox6.style.backgroundColor = "transparent";
        tbox6.style.color = "black";

        if (val == 1) {
          box1.style.display = "flex";
          box2.style.display = "none";
          box3.style.display = "none";
          box4.style.display = "none";
          box5.style.display = "none";
          box6.style.display = "none";

          tbox1.style.backgroundColor = "rgb(175, 32, 34)";
          tbox1.style.color = "white";
        } else if (val == 2) {
          box1.style.display = "none";
          box2.style.display = "flex";
          box3.style.display = "none";
          box4.style.display = "none";
          box5.style.display = "none";
          box6.style.display = "none";
          tbox2.style.backgroundColor = "rgb(175, 32, 34)";
          tbox2.style.color = "white";
        } else if (val == 3) {
          box1.style.display = "none";
          box2.style.display = "none";
          box3.style.display = "flex";
          box4.style.display = "none";
          box5.style.display = "none";
          box6.style.display = "none";
          tbox3.style.backgroundColor = "rgb(175, 32, 34)";
          tbox3.style.color = "white";
        } else if (val == 4) {
          box1.style.display = "none";
          box2.style.display = "none";
          box3.style.display = "none";
          box4.style.display = "flex";
          box5.style.display = "none";
          box6.style.display = "none";
          tbox4.style.backgroundColor = "rgb(175, 32, 34)";
          tbox4.style.color = "white";
        } else if (val == 5) {
          box1.style.display = "none";
          box2.style.display = "none";
          box3.style.display = "none";
          box4.style.display = "none";
          box5.style.display = "flex";
          box6.style.display = "none";
          tbox5.style.backgroundColor = "rgb(175, 32, 34)";
          tbox5.style.color = "white";
        } else if (val == 6) {
          box1.style.display = "none";
          box2.style.display = "none";
          box3.style.display = "none";
          box4.style.display = "none";
          box5.style.display = "none";
          box6.style.display = "flex";
          tbox6.style.backgroundColor = "rgb(175, 32, 34)";
          tbox6.style.color = "white";
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- NAVBAR JS -->
    <script src="js/NAVBAR.js"></script>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
  </body>
</html>
