<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />


  <link href="css/home.css" rel="stylesheet" type="text/css">



</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary">
    <%- include('Components/navbar'); %>
  </nav>

  <div class=" container-fluid py-4 " id="bgimage">
    <div class="text-center p-lg-5 p-sm-3 p-md-5">
      <div class=" Container ">
        <h5 class=" text-white text-center fw-semibold">
          Companies Consider letsremotify to be
        </h5>
        <h1 class="text-white mt-2 fw-semibold">A Leading Platform for Building AI-Vetted Tech Teams</h1>
        <p class=" container-fluid justify-content-center p-2 text-white fw-semibold">Skip the direct recruitment, job
          ads, and headhunting.
          Our AI-vetted pool of remote developers, engineers, product designers, and market- competitive engineering
          talent is available to scale your business.</p>
      </div>
      <div class="row d-flex m-2">
        <div class="col-8 container-fluid justify-content-center">
          <div class="container-fluid ">
            <button class=" btn-primary p-2 ">Animated Button</button>
            <button class=" btn-primary p-2 ">Animated Button</button>
          </div>
        </div>
      </div>
      <div>
        <p class=" fw-bold text-white"> Searching for employment opportunities?<a href="3" class="fw-bold"> Apply for
            Jobs
            Today!</a> </p>
      </div>
      <div class=" container-fluid d-block ">
        <img src="images/landingpage.png" class="p-2 img-fluid justify-content-center">
      </div>
    </div>
  </div>
  <!-- this is down section in  -->

  <div class=" container-fluid p-5  ">
    <div class=" d-block  ">
      <h5 class="text-color-custom">A Fully Integrated Solution to</h5>
      <h2>
        <span>Connect you with Remote Talent Acquisition Specialist</span>
      </h2>
      <div>
        <p class="  h5 fw-light text-gray">Letsremotify is a community of the largest, globally-distributed network of
          top design, business, and<br>
          technology talent to uplift your initiatives.</p>
      </div>
    </div>
    <!-------------------------haris code sections------------------->
    <section class="services" id="services">
      <div class="service-content">
        <div class="box1 p-2" id="H1">
          <img decoding="async" class=" rounded m-2" width="44" height="44"
            src="https://letsremotify.com/wp-content/uploads/2023/08/se.jpg" alt="se">
          <h4 id="W1">Software Engineering</h4>
          <p id="K1" class="d-block">Hire Principal Software engineers, Software Architects, and Full-Stack developers,
            hire remote mobile app developers, hire remote web developers, QA engineers, ML engineers, DevOps engineers,
            etc. are available for hire at one-stop.!</p>
        </div>
        <div class="box1 p-2" id="H2">
          <img decoding="async" width="44" height="44"
            src="https://letsremotify.com/wp-content/uploads/2023/08/pro-d.jpg" alt="pro-d" class=" rounded m-2">
          <h4 id="W2">Graphics and Designt</h4>
          <p id="K2">Graphic Designers, UI/UX Designers, Web Designers, Product Designers, Visual Designers, Interaction
            Designers, Design Strategists, Brand Designers, etc. are available for hire within 24 hours.</p>


        </div>

        <div class="box1 p-2" id="H3">
          <img decoding="async" loading="lazy" class=" rounded m-2" width="44" height="44"
            src="https://letsremotify.com/wp-content/uploads/2023/08/dm.jpg" alt="dm">
          <h4 id="W3">Digital Marketing</h4>
          <p id="K3">Hire Digital Marketers, Brand Managers Product Marketing Managers, Social Media Managers, Content
            Marketing Managers SEO<br>Managers, Email Marketing Managers, etc. are available for hire.</p>
        </div>
        <div class="box1 p-2" id="H4">
          <img decoding="async" loading="lazy" class=" rounded m-2" width="44" height="44"
            src="https://letsremotify.com/wp-content/uploads/2023/08/dm.jpg" alt="dm">
          <h4 id="W4">Digital Marketing</h4>
          <p id="K4">Hire Digital Marketers, Brand Managers Product Marketing Managers, Social Media Managers, Content
            Marketing Managers SEO<br>Managers, Email Marketing Managers, etc. are available for hire.</p>
        </div>
        <div class="box1 p-2" id="H5">
          <img decoding="async" loading="lazy" class=" rounded m-2" width="44" height="44"
            src="https://letsremotify.com/wp-content/uploads/2023/08/dm.jpg" alt="dm">
          <h4 id="W5">Digital Marketing</h4>
          <p id="K5">Hire Digital Marketers, Brand Managers Product Marketing Managers, Social Media Managers, Content
            Marketing Managers SEO<br>Managers, Email Marketing Managers, etc. are available for hire.</p>
        </div>
        <div class="box1 p-2" id="H6">
          <img decoding="async" loading="lazy" class=" rounded m-2" width="44" height="44"
            src="https://letsremotify.com/wp-content/uploads/2023/08/dm.jpg" alt="dm">
          <h4 id="W6">Digital Marketing</h4>
          <p id="K6">Hire Digital Marketers, Brand Managers Product Marketing Managers, Social Media Managers, Content
            Marketing Managers SEO<br>Managers, Email Marketing Managers, etc. are available for hire.</p>
        </div>


        <!-- <div class="box">
          <img src="s-3.svg">
          <h3>UI/UX Design</h3>
          <p>Developer by profession Up for our newletters to recieve update 
              on Track your order for quick update</p>
    
              <a href="#">
                  Dowmload now 
                  <i class="bi bi-arrow-right-short"></i>
              </a>
      </div> -->
      </div>
    </section>
  </div>


  <div class="container-fluid px-5 ">
    <div class="row  ">
      <div class="col-sm-6 p-5 align-text-center container-fluid justify-content-between">
        <div>
          <h4 class=" text-color-custom"><span> Hassle-Free Remote IT Staffing</span></h4>
          <h2><span>Hire and Get Hired, Hassle-Free</span></h2>
        </div>
        <div>
          <p class=" text-gray">
            <span>
              Make your day-to-day tech hiring with letsremotify; We make remote hiring and remote IT support services
              for business processes easy and rewarding for both companies and talent. Business owners, startups, and
              enterprises can hire pre-vetted global remote tech talent across 100+ skills in 24 hours. We also provide
              a secure payment system for smooth transactions between companies and talent.
            </span>
          </p>
          <!-- buttons css -->
          <button class="btn mt-2 mb-2" type="button">
            <strong>Book a Call</strong>
            <div id="container-stars">
              <div id="stars"></div>
            </div>

            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-sm-6 Container ">
        <span>
          <img decoding="async" src="https://letsremotify.com/wp-content/uploads/2023/08/hassle-hire-scaled.jpg"
            alt="hire-effortlessly" title="hassle-hire"
            srcset="https://letsremotify.com/wp-content/uploads/2023/08/hassle-hire-scaled.jpg 2560w, https://letsremotify.com/wp-content/uploads/2023/08/hassle-hire-1280x1253.jpg 1280w, https://letsremotify.com/wp-content/uploads/2023/08/hassle-hire-980x959.jpg 980w, https://letsremotify.com/wp-content/uploads/2023/08/hassle-hire-480x470.jpg 480w"
            class="img-fluid">
        </span>
      </div>
      <div class=" container-fluid">
        <div class="row py-5 justify-content-center justify-content-lg-start text-center ">
          <div class=" text-lg-start col-12 text-md-start text-sm-start ">
            <h5 class="text-color-custom"><span> Remote IT Support for Business</span></h5>
            <h3><span>Services We Specialize In</span></h3>
          </div>
          <p class=" text-justify  col-10   fs-5"><span>Modern industry challenges that demand modern development
              methodology
              to
              attain business excellence. In today’s competitive landscape, acquire a reliable technology service
              provider with emerging technologies.</span></p>
        </div>
      </div>

    </div>

  </div>
  <!------------------- logos link ------------->
  <div class=" container-fluid">
    <div class="row text-center px-4">
      <div class="col-lg-2 col-md-3 ">
        <a href="#">

          <img decoding="async" loading="lazy" width="160" height="120"
            src="https://letsremotify.com/wp-content/uploads/2023/08/cloud.png" alt="cloud" title="cloud"
            class=" img-fluid"></a>
      </div>
      <div class="col-lg-2 col-md-3 ">

        <a href="#"><span> <img decoding="async" loading="lazy" width="160" height="120"
              src="https://letsremotify.com/wp-content/uploads/2023/08/blockchain-480x306.png" alt="cloud" title="cloud"
              class=" img-fluid"></span></a>

      </div>
      <div class="col-lg-2 col-md-3 ">

        <a href="#"><span> <img decoding="async" loading="lazy" width="160" height="120"
              src="https://letsremotify.com/wp-content/uploads/2023/08/web3-480x306.png" alt="cloud" title="cloud"
              class=" img-fluid"></span></a>
      </div>
      <div class="col-lg-2 col-md-3 ">
        <a href="#"><span> <img decoding="async" loading="lazy" width="160" height="120"
              src="https://letsremotify.com/wp-content/uploads/2023/08/salesforce-480x306.png" alt="cloud" title="cloud"
              class=" img-fluid"></span></a>
      </div>
      <div class="col-lg-2 col-md-3 ">
        <a href="#"><span> <img decoding="async" loading="lazy" width="160" height="120"
              src="https://letsremotify.com/wp-content/uploads/2023/08/devops-480x306.png" alt="cloud" title="cloud"
              class=" img-fluid"></span></a>
      </div>
      <div class="col-lg-2 col-md-3 ">
        <a href="#"><span> <img decoding="async" loading="lazy" width="160" height="120"
              src="https://letsremotify.com/wp-content/uploads/2023/08/iot-480x306.png" alt="cloud" title="cloud"
              class=" img-fluid"></span></a>
      </div>
    </div>
  </div>
  <!-----it Solution----------------->
  <div class="container-fluid px-5">
    <div class="row mt-2 justify-content-center">
      <h4 class="text-color-custom col-12"> IT Support Solution </h4>
      <h2 class="col-12">Our Services</h2>

    </div>
  </div>


  <!---------------Industries and Clients--------------------->
  <div class=" container-fluid px-5">
    <div class="row">
      <h4 class=" col-12 text-color-custom"> Industries and Clients</h4>
      <h2 class="col-12"> <span>Get Started with Our 2-Week Trial!</span></h2>
      <div class="col-12">
        <p class=" fs-5">
          Discover how our platform can elevate your business, connect you with top-tier tech talent, and enable
          seamless global collaboration. Take advantage of this risk-free opportunity to explore our extensive network
          of vetted professionals, remote talent acquisition, build your dream team, and achieve remarkable results in
          remote IT support for businesses
        </p>
      </div>
    </div>

  </div>

  <!-------Available for a Diverse Set of----->
  <div class=" container-fluid">
    <div class=" row px-4 justify-content-between justify-content-center" style="background-color: rgb(247,248,255);">
      <div class="col-sm-12 col-lg-6  ">
        <div class=" my-5 ">
          <h4 class="text-color-custom fs-5">Available for a Diverse Set of</h4>
          <h2 class=" fs-3 text-black">Industries and Clients</h2>
          <p class=" fs-5 ">
            Our team is experienced in catering to diverse sectors of industries like Finance, Banking, FMCG, ITES,
            Media and Entertainment, etc. We have a competitive track record of assisting hundreds of organizations in
            hiring tech talent on demand.
            <br>
            <br>
            No matter the size of your team, we are here to ensure you have access to trusted and qualified
            professionals available for the following industries.
          </p>
        </div>

      </div>

      <div class="col-sm-12 col-lg-6 container-fluid ">
        <div class="my-5 justify-content-center justify-content-md-start row">
          <div class="col-lg-5 col-md-4 mt-3 text-center">
            <div class="container">
              <div class=" container-fluid justify-content-center">
                <img decoding="async" loading="lazy" width="40" height="40"
                  src="https://letsremotify.com/wp-content/uploads/2023/02/Vector-2.svg" alt="About Us">
              </div>
              <div class="container">
                <h5 class=" mt-3"><span>Healthcare</span></h5>
              </div>
            </div>

          </div>
          <div class=" col-lg-5 col-md-4  mt-3 text-center">
            <div class="">
              <img decoding="async" loading="lazy" width="40" height="40"
                src="https://letsremotify.com/wp-content/uploads/2023/09/media.svg" alt="media">
            </div>
            <div class="container">
              <h5 class=" mt-3"><span>Healthcare</span></h5>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 mt-3 text-center">
            <div class="container">
              <div class=" container-fluid justify-content-center">
                <img decoding="async" loading="lazy" width="40" height="40"
                  src="https://letsremotify.com/wp-content/uploads/2023/02/Vector-2.svg" alt="About Us">
              </div>
              <div class="container">
                <h5 class=" mt-3"><span>Healthcare</span></h5>
              </div>
            </div>

          </div>
          <div class=" col-lg-5 col-md-4  mt-3 text-center">
            <div class="">
              <img decoding="async" loading="lazy" width="40" height="40"
                src="https://letsremotify.com/wp-content/uploads/2023/09/media.svg" alt="media">
            </div>
            <div class="container">
              <h5 class=" mt-3"><span>Healthcare</span></h5>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 mt-3 text-center">
            <div class="container">
              <div class=" container-fluid justify-content-center">
                <img decoding="async" loading="lazy" width="40" height="40"
                  src="https://letsremotify.com/wp-content/uploads/2023/02/Vector-2.svg" alt="About Us">
              </div>
              <div class="container">
                <h5 class=" mt-3"><span>Healthcare</span></h5>
              </div>
            </div>

          </div>
          <div class=" col-lg-5 col-md-4  mt-3 text-center">
            <div class="">
              <img decoding="async" loading="lazy" width="40" height="40"
                src="https://letsremotify.com/wp-content/uploads/2023/09/media.svg" alt="media">
            </div>
            <div class="container">
              <h5 class=" mt-3"><span>Healthcare</span></h5>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 mt-3 text-center">
            <div class="container">
              <div class=" container-fluid justify-content-center">
                <img decoding="async" loading="lazy" width="40" height="40"
                  src="https://letsremotify.com/wp-content/uploads/2023/02/Vector-2.svg" alt="About Us">
              </div>
              <div class="container">
                <h5 class=" mt-3"><span>Healthcare</span></h5>
              </div>
            </div>

          </div>
          <div class=" col-lg-5 col-md-4  mt-3 text-center">
            <div class="">
              <img decoding="async" loading="lazy" width="40" height="40"
                src="https://letsremotify.com/wp-content/uploads/2023/09/media.svg" alt="media">
            </div>
            <div class="container">
              <h5 class=" mt-3"><span>Healthcare</span></h5>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 mt-3 text-center">
            <div class="container">
              <div class=" container-fluid justify-content-center">
                <img decoding="async" loading="lazy" width="40" height="40"
                  src="https://letsremotify.com/wp-content/uploads/2023/02/Vector-2.svg" alt="About Us">
              </div>
              <div class="container">
                <h5 class=" mt-3"><span>Healthcare</span></h5>
              </div>
            </div>

          </div>
          <div class=" col-lg-5 col-md-4  mt-3 text-center">
            <div class="">
              <img decoding="async" loading="lazy" width="40" height="40"
                src="https://letsremotify.com/wp-content/uploads/2023/09/media.svg" alt="media">
            </div>
            <div class="container">
              <h5 class=" mt-3"><span>Healthcare</span></h5>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-----------Remote talent acuqistion------>
  <div class="container-fluid ">
    <div class="row divbg my-5">
      <div class="col-lg-5 justify-content-center">
        <div class="container-fluid">
          <h4 class=" text-color-custom">Remote Talent Acquisition:</h4>
          <h2>Embrace the Future of Tech Talent Recruitment</h2>
          <p class="fs-5">At letsremotify, we leverage modern tools and technologies designed to revolutionize the way
            you hire remote web developers and other tech professionals from around the world. Our advanced remote IT
            support for businesses includes</p>
          <button type="button" class="btn-primary">Get a Free Quote </button>
        </div>
      </div>

      <div class="col-lg-5 container-fluid">
        <div class="scrollable-container ">
          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">01</p>
              <div class="vr" style="height: 100px;"></div>
            </div>
            <div class="col-10 p-2 mt-1 mt-sm-1 mt-md-1">
              <h4>AI-Driven Applicant Tracking System</h4>
              <p class="text-justify">Efficiently screen and shortlist candidates based on their qualifications, skills,
                and experience, ensuring you focus on the most relevant talent.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">02</p>
              <div class="vr " style="height: 100px;"></div>
            </div>
            <div class="col-10 p-2 mt-1">
              <h4>Video Interviewing Platforms</h4>
              <p class="text-justify">Conduct virtual interviews to assess candidates’ communication, problem-solving,
                and technical skills, enabling a seamless interview process from anywhere.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">03</p>
              <div class="vr" style="height: 100px;"></div>
            </div>
            <div class="col-10 p-2 mt-1">
              <h4>Collaboration and Communication Tools</h4>
              <p class="text-justify">Facilitate real-time communication and collaboration with candidates, team
                members, and clients, promoting seamless remote teamwork</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">04</p>
              <div class="vr" style="height: 100px;">
              </div>
            </div>
            <div class="col-10 p-2 mt-1">
              <h4>Candidate Assessment Platforms</h4>
              <p class="text-justify">Evaluate technical skills and expertise through coding challenges and assessments
                to make data-driven hiring decisionsk</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">06</p>
              <div class="vr" style="height: 100px;">
              </div>
            </div>
            <div class="col-10 p-2 mt-1">
              <h4>Candidate Assessment Platforms</h4>
              <p class="text-justify">Evaluate technical skills and expertise through coding challenges and assessments
                to make data-driven hiring decisionsk</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">06</p>
              <div class="vr" style="height: 100px;">
              </div>
            </div>
            <div class="col-10 p-2 mt-1">
              <h4>Candidate Assessment Platforms</h4>
              <p class="text-justify">Evaluate technical skills and expertise through coding challenges and assessments
                to make data-driven hiring decisionsk</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 text-center">
              <p class="text-color-custom mt-1 mt-sm-1 mt-md-1 fw-bold">07</p>
              <div class="vr" style="height: 100px;">
              </div>
            </div>
            <div class="col-10 p-2 mt-1">
              <h4>Candidate Assessment Platforms</h4>
              <p class="text-justify">Evaluate technical skills and expertise through coding challenges and assessments
                to make data-driven hiring decisionsk</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-----Hiring Tech Talent:------>
  <div class="container-fluid" style="background-color: rgb(247,248,255);">
    <div class="row  my-5 p-2">
      <div class="col-12">
        <h4 class=" fs-5 text-color-custom">Hiring Tech Talent:</h4>
        <h2 class=" fs-4"> Worldwide Trends in Tech Talent Recruitment</h2>
        <p class=" fs-4">In today’s rapidly evolving tech landscape, the demand for skilled tech talent has no borders.
          Organizations worldwide are embracing remote talent acquisition and remote staffing services to access a
          global pool of top-notch tech experts.</p>
      </div>
      <div class=" col-12">
        <p class="fs-4"> Let’s delve into the key trends shaping the hiring landscape:</p>
      </div>
    </div>

  </div>
  <!------------Skills Section ---------->
  <div class=" container-fluid" style="background-color: #16031f;">
    <div class=" text-center row ">
      <div class="col-12">
        <h4 class=" fs-4 fw-semibold mt-5 pb-1 text-white"> Discover In-Demand</h4>
        <h2 class=" fw-bold text-white">
          Skills for Your Business!
        </h2>
        <div class=" lg-5 d-block">
          <p class=" fw-semibold fs-5 py-1 text-white px-5">Find the crème de la crème of remote professionals with
            top-tier skills that match your
            business needs.<br> Explore renowned experts proficient in cutting-edge technologies and embrace success
            with<br>
            letsremotify’s talent pool.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="input-group mb-3 col-10">
        <span class="input-group-text" aria-hidden="true"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Enter Skill For Searching" aria-label="Username"
          aria-describedby="basic-addon1" aria-hidden="true">
      </div>
    </div>
    <div class=" container-fluid">
      <div class="row  ">
        <div class="col-12">
          <h5 class=" fw-semibold text-white">
            Based on your skills
          </h5>
        </div>
        <div class="row justify-content-lg-start  my-2 justify-content-center justify-content-md-start">
          <% skills.forEach(function(skills) { %>
            <div class="col-lg-2 col-10 col-md-4 m-2 ">
              <div class="row">
                <button class=" rounded-4 p-1 bg-white fw-semibold d-flex border-0  align-items-center">
                  <img decoding="async" loading="lazy" src=" <%= skills.img %>" class="mr-4 ml-1 " alt="">
                  <%= skills.btnname %>
                </button>
              </div>
            </div>
            <% }); %>
              <div class="col-12 my-3">
                <h5 class=" fw-semibold text-white fs-6 "><i class="fa fa-plus" aria-hidden="true"></i> See more Skills
                </h5>
              </div>
        </div>

      </div>

    </div>
    <div class=" container-fluid">
      <div class="row  ">
        <div class="col-12 my-2">
          <h5 class=" fw-semibold text-white">
            Based on your roles
          </h5>
        </div>
        <div class="row justify-content-lg-start 
    justify-content-center justify-content-md-start">

          <% technologies.forEach(function(technologies) { %>
            <div class="col-lg-2 col-10 col-md-4 m-2 ">
              <div class="row">
                <button class=" rounded-4 p-1 bg-white fw-semibold d-flex border-0  align-items-center">
                  <img decoding="async" loading="lazy" width="<%=technologies.width%>" src="<%= technologies.img%>"
                    class="mr-4 ml-1 " alt="">
                  <%= technologies.btnname %>
                </button>
              </div>
            </div>

            <% }); %>
              <div class="col-12">
                <h5 class=" fw-semibold text-white fs-6 my-3"><i class="fa fa-plus" aria-hidden="true"></i> See more
                  roles
                </h5>
              </div>
        </div>
      </div>
    </div>

    <!-------Based on your career trajectory--------->

    <div class=" container-fluid">
      <div class="row  ">
        <div class="col-12 my-2">
          <h5 class=" fw-semibold text-white">
            Based on your career trajectory
          </h5>
        </div>
        <div class="row justify-content-lg-start justify-content-center justify-content-md-start">
          <% trajectory.forEach(function(trajectory) { %>
            <div class="col-lg-2 col-10 col-md-4 m-2 ">
              <div class="row">
                <button class=" rounded-4 p-1 bg-white fw-semibold d-flex border-0  align-items-center">
                  <img decoding="async" loading="lazy" width="<%=trajectory.width%>" src=" <%= trajectory.img %>"
                    class="mr-3 ml-1 " alt="">
                  <%= trajectory.btnname %>
                </button>
              </div>

            </div>
            <% }); %>
              <div class="col-12">
                <h5 class=" fw-semibold text-white fs-6 my-3"><i class="fa fa-plus" aria-hidden="true"></i> See more
                  positions
                </h5>
              </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center ">
      <div class="col-lg-4  col-md-6 col-sm-8 my-4">
        <div class="row">
          <button type="submit" class="btn-primary p-2 rounded-4 " aria-hidden="true">
            Get Started
          </button>
        </div>

      </div>
    </div>
  </div>
  <!---------------youtbe------------->
  <div class="container-fluid">
    <div class="row py-2 px-4">
      <div class="col-lg-4 my-2 ">
        <div class="p-5 boder-0">
          <h5 class=" fs-5 text-color-custom">Discover SSL Soluation </h5>
          <h2 class=" text-black ">Why Global
            Employers Trust Us</h2>
        </div>
      </div>

      <div class="col-lg-4 my-2 ">
        <div class="card p-5 rounded-3" data-toggle="modal" data-target="#exampleModalCenter"
          style="background-color: #16031f; background-image: url(images/OIP.jpeg); background-position: 100% 100%; ">
          <%- include('Components/modal'); %>
            <div class="row mt-4 ">
              <div class="d-flex  align-items-center ">
                <li class=" mr-2 fa fa-play-circle " aria-hidden="true"></li>
                <h6 class="  fw-semibold fs-5">Talent Stories</h6>
              </div>
              <h5 class="text-white fw-bold">A day in the life of a Remote Data Analyst | letsremotify</h5>
            </div>

        </div>
      </div>
      <div class="col-lg-4 my-2 ">
        <div class="card p-5 rounded-3" data-toggle="modal" data-target="#exampleModalCenter"
          style="background-color: #16031f; background-image: url(images/OIP.jpeg); background-position: 100% 100%; ">
          <%- include('Components/modal'); %>
            <div class="row mt-4 ">
              <div class="d-flex  align-items-center ">
                <li class=" mr-2 fa fa-play-circle " aria-hidden="true"></li>
                <h6 class="  fw-semibold fs-5">Talent Stories</h6>
              </div>
              <h5 class="text-white fw-bold">A day in the life of a Remote Data Analyst | letsremotify</h5>
            </div>

        </div>
      </div>
      <div class="col-lg-4 my-2 ">
        <div class="card p-5 rounded-3" data-toggle="modal" data-target="#exampleModalCenter"
          style="background-color: #16031f; background-image: url(images/OIP.jpeg); background-position: 100% 100%; ">
          <%- include('Components/modal'); %>
            <div class="row mt-4 ">
              <div class=" d-flex  align-items-center ">
                <li class=" mr-2 fa fa-play-circle " aria-hidden="true"></li>
                <h6 class="  fw-semibold fs-5">Talent Stories</h6>
              </div>
              <h5 class="text-white fw-bold">A day in the life of a Remote Data Analyst | letsremotify</h5>
            </div>

        </div>
      </div>
      <div class="col-lg-4 my-2 ">
        <div class="card p-5 rounded-3" data-toggle="modal" data-target="#exampleModalCenter"
          style="background-color: #16031f; background-image: url(images/OIP.jpeg); background-position: 100% 100%; ">
          <%- include('Components/modal'); %>
            <div class="row mt-4 ">
              <div class="d-flex  align-items-center ">
                <li class=" mr-2 fa fa-play-circle " aria-hidden="true"></li>
                <h6 class="  fw-semibold fs-5">Talent Stories</h6>
              </div>
              <h5 class="text-white fw-bold">A day in the life of a Remote Data Analyst | letsremotify</h5>
            </div>

        </div>
      </div>

      <div class="col-lg-4 my-2 ">
        <div class="card p-5 rounded-3" data-toggle="modal" data-target="#exampleModalCenter"
          style="background-color: #16031f; background-image: url(images/OIP.jpeg); background-position: 100% 100%; ">
          <%- include('Components/modal'); %>
            <div class="row mt-4 ">
              <div class="d-flex  align-items-center ">
                <li class=" mr-2 fa fa-play-circle " aria-hidden="true"></li>
                <h6 class="  fw-semibold fs-5">Talent Stories</h6>
              </div>
              <h5 class="text-white fw-bold">A day in the life of a Remote Data Analyst | letsremotify</h5>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!---Out Soucrce IT Talent--------->
  
<div class="container-fluid">
  <div class="row px-5">
    <h4 class="fs-5 text-color-custom">Remote IT Support for Businesses:</h4>
    <h1>Our Products</h1>
    <p class="fs-5"> Explore our suite of products highlighting our expertise and technical capabilities across various domains.</p>
  </div>
  <div class="row col-11 justify-content-center">
    <div class="col-lg-2 col-md-3 ">
          <a href="#">
            <img decoding="async" loading="lazy" 
              src="https://letsremotify.com/wp-content/uploads/2023/08/maple.png" alt="cloud" title="cloud"
              class=" img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 ">
      <a href="#">
        <img decoding="async" loading="lazy" 
          src="https://letsremotify.com/wp-content/uploads/2023/08/testrabbit.png" alt="cloud" title="cloud"
          class=" img-fluid"></a>
</div>
<div class="col-lg-2 col-md-3 ">
  <a href="#">
    <img decoding="async" loading="lazy" 
      src="https://letsremotify.com/wp-content/uploads/2023/08/eduleaf.png" alt="cloud" title="cloud"
      class=" img-fluid"></a>
</div>
<div class="col-lg-2 col-md-3 ">
  <a href="#">
    <img decoding="async" loading="lazy" 
      src="https://letsremotify.com/wp-content/uploads/2023/08/zooppa-480x255.png" alt="cloud" title="cloud"
      class=" img-fluid"></a>
</div>
<div class="col-lg-2 col-md-3 ">
  <a href="#">
    <img decoding="async" loading="lazy" 
      src="https://letsremotify.com/wp-content/uploads/2023/08/smiletime-480x255.png" alt="cloud" title="cloud"
      class=" img-fluid"></a>
</div>

  </div>
</div>

 <!-- ----------------------------------------------Remote-------------------------------------- -->
 <div class="d-flex justify-content-center">
  <div class="row" id="UNLOCK" style="margin-bottom: 80px">
    <div class="col-10 mt-5"><h4>Remote IT Support Company:</h4></div>
    <div class="col-12">
      <h1>Why Do Top Companies Choose SSL Solution?</h1>
    </div>
    <div class="col-11 mt-2 mb-5" style="font-size: 22px">
      Our strong presence and specialization empower top companies to
      access our highly-skilled talent community in a growing market.
    </div>
    <div class="col-sm-12">
      <div class="row justify-content-around">
        <div class="col-lg-2 col-md-3 col-sm-4 ">
          <div id="NUMBER">110+</div>
          <div id="NUMBER2">Countries</div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div id="NUMBER">97%</div>
          <div id="NUMBER2">Successful</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <div id="NUMBER">173,000+</div>
          <div id="NUMBER2">Tech Talent</div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div id="NUMBER">400+</div>
          <div id="NUMBER2">Happy Clients</div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div id="NUMBER">110+</div>
          <div id="NUMBER2">Skills</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 <!-- ============================================Seamless Talent Solutions===================================================== -->
 <div class="container-fluid" style="background-image: url(images/275-removebg-preview-1.png);background-size: 100% 100%;">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div
        class="row text-center justify-content-center"
        id="CCOLOR"
        style="width: 100%">
        <div class="col-12"><h4>Seamless Talent Solutions</h4></div>

        <div class="col-12"><h1>Handpick Your Perfect Talent Pool!</h1></div>
        <div class="col-lg-8 col-md-11 col-sm-11 text-center">
          <p style="font-size: 24px" class="text-center">
            Find Your Perfect Design, Development, and Marketing Teams at letsremotify, Exactly When
You Need Them!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="margin: 35px 0px;">
      <div class="row justify-content-around">
        <div class="col-lg-5 col-md-7 col-sm-9"><img class="img-fluid" src="images/handpick-img-scaled.jpg"></div>
        <div class="col-lg-5 col-md-9 col-sm-8">
          <div class="row">
            <div class="col-lg-11">
              <div style="margin-top: 50px;"><H3>Elite Global Opportunities</H3></div>
              <div style="font-size: 18px;color: #555659 !important"><p>Discover Your Path to Success: letsremotify talent secure jobs with top global companies and earn competitive market salaries worldwide.</p></div>
            </div>
            <div class="col-lg-11">
              <div style="margin-top: 50px;"><H3>Accelerate Your Career</H3></div>
              <div style="font-size: 18px;color: #555659 !important"><p>Unleash Your Potential: Grow rapidly by solving challenging technical and business problems with our trendy tech stack.</p></div>
            </div>
            <div class="col-lg-11">
              <div style="margin-top: 50px;"><H3>Talent Success Guaranteed</H3></div>
              <div style="font-size: 18px;color: #555659 !important"><p>Your Success, Our Priority: Count on letsremotify’s dedicated talent success support throughout your journey.</p></div>
            </div>
            <div class="col-lg-11">
              <div style="margin-top: 50px;"><H3>100+ In-Demand Skills</H3></div>
              <div style="font-size: 18px;color: #555659 !important"><p>Endless Possibilities: Hire remote web developers experts in Node, Rails, iOS, Android, DevOps, Java, React, ML, PHP/Laravel, Angular, Python, and more.</p></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- --------------------------------Spotlight----------------------------- -->

<div class="container-fluid mt-5" id="BLUEIMG">
<div class="row" style="color: white;">
  <div id="TEXTH"><h4>Spotlight</h4>
  <h1>Beyond the Headlines</h1>
  <div>Explore our international presence and reputation as we make headlines, getting featured in top news sites through top remote staffing services and IT support services in California.</div>
</div>
</div>
<!-- ------------------------------------WORK FROM HOME 2---------------------------- -->
<section class="services" id="services">
<div class="center-text">
        
</div>

<div class="service-content">
<div class="box2">
  <div><img height="78PX" width="230PX" class="img-fluid" src="images/image-01.jpg"></div>
    <h4>Remote Platforms like letsremoitfy Make WFH Easier for Businesses</h4>
    <p>A new generation of remote platforms is making it easier for businesses to work from home.With features like getting connected with clients virtually, sharing files, task tracking, and video conferencing, these platforms are becoming an essential tools for companies while working remotely.</p>
    <div style="color: rgb(175, 32, 34);"></H3><a href="">Read more<i id="TEXTH" class="bi bi-arrow-right"></i> </a></div>

        
</div>

<div class="box2">
  <!-- <i id="ICONG" class="bi bi-globe-central-south-asia"></i> -->
  <div><img height="78PX" width="230PX" class="img-fluid" src="images/img_02-1.jpg"></div>
    <h4>Introducing letsremotify: The Future of Working from Anywhere</h4>
    <p>letsremotify is such a platform that offers users the ability to work from anywhere in the world.It is providing worldwide talent to global clients within 24 hours for ease.  With this platform, businesses and freelancers alike can enjoy the convenience and flexibility that comes with remote working.</p>
    <div style="color: black;"><a href="">Read more<i id="TEXTH" class="bi bi-arrow-right"></i> </a></div>
        
</div>

<div class="box2" class="justify-content-center">
  <!-- <i id="ICONG" class="bi bi-lightbulb-fill"></i> -->
  <div><img height="78PX" width="230PX" class="img-fluid" src="images/img_03.jpg"></div>
    <h4>letsremotify Make Working From Home Easier Than Ever</h4>
    <p>The recent COVID-19 pandemic, letsremotify has become increasingly popular, as they enable employees to work from home more easily than ever before. They allow for easier collaboration and greater productivity, giving businesses a way to stay connected even when working remotely With this platform.</p>
    <div style="color: black;"><a href="">Read more<i id="TEXTH" class="bi bi-arrow-right"></i> </a></div>

        
</div>

</div>
</section>

</div>



    
 <!-- ---------------------------------------------------Testimonialss--------------------------- -->
   <div class="container-fluid mt-5" style="display: flex; justify-content: center;">
    <div class="row text-center"  id="CCOLOR" style="width: 85%;">
      <h4>Testimonialss</h4>
    
      <h1>Trusted by Industry leaders</h1>
      <p style="font-size: 24px;">Our platform enables thousands of companies to run their platforms smoothly. They root for us, and they aren’t shy about it.</p>
    </div>
  </div>
  <!-- --------------------------------------- BLOG --------------------------------- -->
  <div class="container-fluid" style="margin-top: 45px; ">
    <div style="font-size: 24px; font-weight: 500; margin-left: 6%; color: rgb(175, 32, 34);" class=" ml-5">Blogs</div>
  </div> 
    <!-- --------------------------------Explore -------------------- -->
   <div class="container-fluid" style="margin-top: 15px; margin-bottom: 45px;">
    <div class="row justify-content-between" style="margin-left: 5%;">
      <div class="col-lg-7 col-md-10 col-sm-12 mt-3 mb-3"><h1>SSL SOLUTION</h1></div>
      <div class="col-lg-3 col-md-4 col-sm-8  mt-3 mb-3" id="EXPLORE"><a href="">Explore more</a></div>
    </div>
  </div> 

  <!----------------------------------------  LAST CARDS    ----------------------------  -->
  <div class="container-fluid mb-5" >
    <div class="row d-flex justify-content-around">
      <div class="card mt-5" style="width: 25rem;">
        <img src="images/4-400x250.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-3">
          <span style=" padding: 8px 12px; background-color:rgb(175, 32, 34); color: white; border-radius: 12px;">Company Updates</span>
          <h5 class="card-title mt-3">Optimizing Sales</h5>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          </p>
          <div class="d-flex">
            <div><img width="50px" height="42px" class="img-fluid" src="images/logo.png" alt=""></div>
          <div style="margin-left: 12px;">
            <div style="font-size: 16px; font-weight: 700;">Emily Johnson</div>
            <div style="color: #555659 !important;">Aug 4 2023</div>
          </div>
        </div>
        </div>
      </div>
      <div class="card mt-5" style="width: 25rem;">
        <img src="images/4-400x250.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-3">
          <span style="padding: 8px 12px; background-color:rgb(175, 32, 34); color: white; border-radius: 12px;">Company Updates</span>
          <h5 class="card-title mt-3">Driving Business</h5>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          </p>
          <div class="d-flex">
            <div><img width="50px" height="42px" class="img-fluid" src="images/logo.png" alt=""></div>
          <div style="margin-left: 12px;">
            <div style="font-size: 16px; font-weight: 700;">Emily Johnson</div>
            <div style="color: #555659 !important;">Aug 4 2023</div>
          </div>
        </div>
        </div>
      </div>
      <div class="card mt-5" style="width: 25rem;">
        <img src="images/4-400x250.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-3">
          <span style="padding: 8px 12px; background-color:rgb(175, 32, 34); color: white; border-radius: 12px;">Company Updates</span>
          <h5 class="card-title mt-3">Boost Project</h5>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          </p>
          <div class="d-flex">
            <div><img width="50px" height="42px" class="img-fluid" src="images/logo.png" alt=""></div>
          <div style="margin-left: 12px;">
            <div style="font-size: 16px; font-weight: 700;">Emily Johnson</div>
            <div style="color: #555659 !important;">Aug 4 2023</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div> 

  <!-- <div style="margin-bottom: 200px; visibility: hidden;">.</div> -->



</DIV>


<!-- ---------------------------------------------------------- Curious?-------------------- -->

<div class="container-fluid" style="background-image:url(images/Background.png); background-size: 100% 100%;">
<div class="container-fluid mt-5" style="display: flex; justify-content: center; margin-top: 50px;">
<div class="row text-center"  id="CCOLOR" style="width: 85%; margin-top: 90px;">
  <h4>Curious?</h4>

  <h1>Explore Our FAQs</h1>
  <p style="font-size: 24px;">Our platform enables thousands of companies to run their platforms smoothly. They root for us, and they aren’t shy about it.</p>
</div>
</div>

<!-- -----------------------------------------ACCORDIANS----------------------------------- -->


<div class="container-fluid mb-5">
<div class="row justify-content-center">
  <div class="col-8">
  <div class="accordion accordion-flush" id="accordionFlushExample" >
    <div class="accordion-item"style="border: 1px solid black; margin-top:10px;">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <h5>What are the payment options available for hiring talent on letsremotify?</h5>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing</div>
      </div>
    </div>
    <div class="accordion-item"style="border: 1px solid black; margin-top:10px;">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h5>What are the estimated rounds to clear the hiring before the selection?</h5>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item"style="border: 1px solid black; margin-top:10px;">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h5>Do I need to be proficient in English to join letsremotify?</h5>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-fluid justify-content-center" style="display: flex; justify-content: center;">
<div class="row justify-content-center mt-5 mb-5" id="BEST">
    <div class="col-lg-7 col-md-7 col-sm-10 text-center" >
        <!-- <img class="img-fluid" src="images/Newsletter_img.png" alt=""> -->
        <H2 style="margin-top:18% ; color: white;">SSL SOLUTIONS is the best place
            to build your tech team.</H2>
              <!-- ---------------------input field------------------------- -->
            <!--  -->
    </div>
    <div class="row justify-content-center">
           <div class="col-lg-5 col-sm-8"> <input type="" class="HH" id="EMAOIL" name="" placeholder="&#xF32C;   Your Email"></div>
          <div id="COM" class="col-lg-2 col-md-5 col-sm-5 mt-2">Send</div>
    </div>
</div>
</div>
<div style="height: 100px;"></div>



</div>



<!-- ------------------------------FINAL------------------- -->
<div class="container-fluid" style="margin-top: 15px;  background-color: rgb(21, 38, 48)">
<div class="row justify-content-center">
<div class="col-lg-9 col-md-6 col-sm-6 mt-3 mb-1"  id="Ex"><img class="img-fluid" width="250" height="48" src="images/Logo updeted.png"></div>
<div class="col-lg-3 col-md-4 col-sm-4 mt-3 mb-3 text-center" id="EXPLORE2">
  <a href=""><i class="bi bi-facebook"></i></a>
  <a href=""><i class="bi bi-instagram"></i></a>
  <a href=""><i class="bi bi-linkedin"></i></a>
  <a href=""><i class="bi bi-twitter"></i></a>
</div>
</div>
</div>

<div class="container-fluid" >
<div class="row justify-content-center">
<div style="font-size: 18px;color: white; background-color: rgb(55, 63, 85); text-align: center; padding-top: 5px; padding-bottom: 5px;">
  © Copyright <a style="text-decoration: none; color: white;" href="https://sslsolution.net/">SSL SOUTIONS</a>
</div> 
</div>
</div>







    











  <script>

    $('#carouselExample').on('slide.bs.carousel', function (e) {

      /*
  
      CC 2.0 License Iatek LLC 2018
      Attribution required
      
      */

      var $e = $(e.relatedTarget);

      var idx = $e.index();
      console.log("IDX :  " + idx);

      var itemsPerSlide = 8;
      var totalItems = $('.carousel-item').length;

      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $('.carousel-item').eq(i).appendTo('.carousel-inner');
          }
          else {
            $('.carousel-item').eq(0).appendTo('.carousel-inner');
          }
        }
      }
    });

  </script>

  <script>
    console.log('its working');


    const box1 = document.getElementById('H1');

    // 👇 Change text color on mouseover
    box1.addEventListener('mouseover', function handleMouseOver() {
      box1.style.color = 'red';
      document.getElementById('W1').style.color = 'white';
      document.getElementById('K1').style.color = 'white';
      document.getElementById('ICONG1').style.color = 'white';
    });

    // 👇 Change text color back on mouseout
    box1.addEventListener('mouseout', function handleMouseOut() {
      box1.style.color = 'black';
      document.getElementById('W1').style.color = 'black'
      document.getElementById('K1').style.color = 'BLACK';
      document.getElementById('ICONG1').style.color = 'black';
    });


    // ---------------------------------------------------------------

    const box2 = document.getElementById('H2');

    // 👇 Change text color on mouseover
    box2.addEventListener('mouseover', function handleMouseOver() {
      box2.style.color = 'red';
      document.getElementById('W2').style.color = 'white';
      document.getElementById('K2').style.color = 'white';
      document.getElementById('ICONG2').style.color = 'white';
    });

    // 👇 Change text color back on mouseout
    box2.addEventListener('mouseout', function handleMouseOut() {
      box2.style.color = 'black';
      document.getElementById('W2').style.color = 'black'
      document.getElementById('K2').style.color = 'BLACK';
      document.getElementById('ICONG2').style.color = 'black';
    });

    // --------------------------------------------
    const box3 = document.getElementById('H3');

    // 👇 Change text color on mouseover
    box3.addEventListener('mouseover', function handleMouseOver() {
      //   box3.style.border = '1px grey';
      document.getElementById('W3').style.color = 'white';
      document.getElementById('K3').style.color = 'white';
      document.getElementById('ICONG3').style.color = 'white';
    });

    // 👇 Change text color back on mouseout
    box3.addEventListener('mouseout', function handleMouseOut() {
      // box3.style.border = '1px solid black';
      document.getElementById('W3').style.color = 'black'
      document.getElementById('K3').style.color = 'BLACK';
      document.getElementById('ICONG3').style.color = 'black';
    });

    const box4 = document.getElementById('H4');

    // 👇 Change text color on mouseover
    box4.addEventListener('mouseover', function handleMouseOver() {
      //   box3.style.border = '1px grey';
      document.getElementById('W4').style.color = 'white';
      document.getElementById('K4').style.color = 'white';



    });

    // 👇 Change text color back on mouseout
    box4.addEventListener('mouseout', function handleMouseOut() {
      // box3.style.border = '1px solid black';
      document.getElementById('W4').style.color = 'black'
      document.getElementById('K4').style.color = 'BLACK';

    });
    const box5 = document.getElementById('H5');

    // 👇 Change text color on mouseover
    box5.addEventListener('mouseover', function handleMouseOver() {
      //   box3.style.border = '1px grey';
      document.getElementById('W5').style.color = 'white';
      document.getElementById('K5').style.color = 'white';



    });

    // 👇 Change text color back on mouseout
    box5.addEventListener('mouseout', function handleMouseOut() {
      // box3.style.border = '1px solid black';
      document.getElementById('W5').style.color = 'black'
      document.getElementById('K5').style.color = 'BLACK';

    });
    const box6 = document.getElementById('H6');

    // 👇 Change text color on mouseover
    box6.addEventListener('mouseover', function handleMouseOver() {
      //   box3.style.border = '1px grey';
      document.getElementById('W6').style.color = 'white';
      document.getElementById('K6').style.color = 'white';



    });

    // 👇 Change text color back on mouseout
    box6.addEventListener('mouseout', function handleMouseOut() {
      // box3.style.border = '1px solid black';
      document.getElementById('W6').style.color = 'black'
      document.getElementById('K6').style.color = 'BLACK';

    });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <!-- Initialize the carousel -->

</body>

</html>